<div class="container d-flex justify-content-center align-items-center">
    <div class="container-main rounded-5 shadow bg-white row">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class="d-block">
                <h2 class="fw-bold text-center">Hola Hardworker</h2>
                <h5 class="fw-bold text-center">Ingrese sus credenciales</h5>

                <div class="alert-container">
                    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible mt-3" role="alert">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        <strong>Error:</strong> {{ errorMessage }}
                        <button type="button" class="btn-close"></button>
                    </div>
                </div>

                <form class="d-flex flex-column align-items-center justify-content-center mt-4" (ngSubmit)="onSubmit()">


                    <div class="mb-3 w-75">
                        <label for="Username" class="form-label">Usuario</label>
                        <input type="text" class="form-control rounded-2" name="Username" [(ngModel)]="username"
                            required>
                    </div>

                    <div class="mb-3 w-75">
                        <label for="Password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control rounded-2" name="Password" [(ngModel)]="password"
                            required>
                    </div>



                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-light rounded-2 px-5 shadow-sm">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                            {{ isLoading ? 'Ingresando...' : 'Iniciar Sesión' }}
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class="container-style rounded-5 shadow d-flex justify-content-center align-items-center">
                <img src="icons/logo.png" alt="logo" class="img-fluid h-50 w-50">
            </div>
        </div>
    </div>
</div>