
<!-- Nav -->
<div class="row">
    <div class="col-3">
        <app-nav></app-nav>
    </div>


<!-- Horas Disponibles -->
<div class="col">
    <div class="d-flex justify-content-center m-5">
        <!-- Card Horas Disponibles -->
        <div class="card horas-disponibles shadow p-3 rounded-5">
          <div class="card-body d-flex align-items-center justify-content-between">
            <span class="card-title text-white fw-bold">Horas Disponibles</span>
            <div class="d-flex align-items-center">
              <i class="bi bi-clock text-white fs-4 me-2"></i>
              <span class="text-white fs-4 fw-bold">21</span>
            </div>
          </div>
        </div>
      </div>

      <div class="d-felx justify-content-center m-5 text-bg-info rounded-5">
        <div class="card-solicitar">
          <h3 class=" card-title fw-bold text-center pt-4 text-white">Solicitar</h3>
          <div class="d-flex justify-content-center">
            <div class="mx-4">
              <label for="De" class=" fw-bold text-white mt-4">De</label>
              <input type="text" class="form-control w-100 shadow">

              <label for="Hasta" class="text-white fw-bold mt-4">Hasta</label>
              <input type="text" class="form-control w-100 shadow">
            </div>
            <div class="mx-4">
              <label for="Rason" class="fw-bold text-white mt-4">Rason</label>
              <input type="text" class="form-control w-100 shadow">

              <button class="rounded-pill horas-badge2 text-center text-bg-primary shadow"></button>
            </div>
          </div>
        </div>

      </div>
</div>


  
<!-- Registrar Horas -->
<div class="col-4 d-flex align-items-center m-5">

    <div class="card horas-card rounded-5 shadow d-flex align-items-center">
        <div class="card-body">
          <h3 class="card-title text-center mb-5 mt-3 fw-bold">Registrar Horas</h3>
          <div class="d-flex align-items-center justify-content-center">
            <input type="number" [(ngModel)]="hours" class="rounded-pill horas-badge fw-bold col-2 text-center no-arrows shadow"/>
          <span class="ms-2 fw-bold">Horas</span>
          <button (click)="addHour()" class="rounded-pill horas-badge text-center mx-3 text-bg-success shadow"></button>
          </div>
          <hr class="divider" />
          <div class="d-flex justify-content-center">
          </div>
          <div class="mt-3">
            
        </div>
      </div>

</div>
