<div class="d-flex flex-column align-items-center sidebar">


  <button class="btn btn-danger" (click)="logout()">
  </button>

  <!-- Foto de perfil -->
  <div class="profile-image-container">
    <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image" class="profile-image"
      (click)="fileInput.click()" />
    <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
  </div>


  <p class="text-white fw-bold mt-2"> {{firstName}} {{lastName}}</p>

  <!-- Botonoes -->
  <nav class="nav flex-column">
    <button class="btn btn-light w-100 my-1" routerLink="/inicio">Mis Horas</button>
    <button class="btn btn-secondary w-100 my-1" routerLink="/tablero">Tablero</button>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <div class="card info-card p-3 shadow">

        <ng-container *ngFor="let n of notifications">
          <div class="card p-2 shadow notification-card mb-3" [class.disabled]="n.type==='hoursAccepted' && n.type==='hoursRejected' || n.type==='compAccepted' && n.type==='compRejected'"
            [style.cursor]="n.type==='hoursRequest' || n.type==='compRequest' ? 'pointer' : 'default'" (click)="openModal(n)">
            <h6 class="fw-bold mb-1">
              {{ n.firstName }} {{ n.lastName }}
              <span class=" status-dot"></span>
            </h6>

            <p *ngIf="n.type==='hoursRequest'">
              Ha solicitado <strong>{{n.hours}} horas</strong><br>
              "{{n.description}}"
            </p>

            
            <p *ngIf="n.type==='hoursAccepted'">
              Sus <strong>{{n.hours}} horas</strong> han sido aceptadas.
            </p>

            <p *ngIf="n.type==='hoursRejected'">
              Sus <strong>{{n.hours}} horas</strong> han sido Rechazadas.
            </p>

            <p *ngIf="n.type==='compRequest'">
              De <strong>{{ n.from | date:'short' }}</strong> a <strong>{{ n.to | date:'short' }}</strong><br>
              razon: "{{ n.reason }}"
            </p>

            <p *ngIf="n.type==='compAccepted'">
              Su compensatorio de <strong>{{ n.from | date:'short' }}</strong> a <strong>{{ n.to | date:'short'
                }}</strong> ha sido aceptado.<br>
              Razon: "{{ n.reason }}"
            </p>

            <p *ngIf="n.type==='compRejected'">
              Su compensatorio de <strong>{{ n.from | date:'short' }}</strong> a <strong>{{ n.to | date:'short'
                }}</strong> ha sido rechazado.<br>
              Razon: "{{ n.reason }}"
            </p>
          </div>
        </ng-container>
      </div>
    </div>

  </nav>
</div>


<!-- Modal de notificación -->
<div class="custom-modal-backdrop" *ngIf="selectedNotification">
  <div class="custom-modal">
    <button class="close-btn" (click)="closeModal()">×</button>
    <!-- Modal para solicitud de horas -->
    <ng-container *ngIf="selectedNotification.type==='hoursRequest'">
      <h5 class="fw-bold mb-3 text-center">Solicitud de Horas</h5>
      <h6>{{ selectedNotification.firstName }} {{ selectedNotification.lastName }}</h6>
      <p>
        Ha solicitado <strong>{{ selectedNotification.hours }}</strong> horas<br>
        "{{ selectedNotification.description }}"
      </p>
      <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-success w-50 me-2" (click)="acceptHourRequest(selectedNotification.id)">
          Aceptar
        </button>
        <button class="btn btn-danger w-50 ms-2" (click)="rejectHourRequest(selectedNotification.id)">
          Rechazar
        </button>
      </div>
    </ng-container>

    <!-- Modal para solicitud de compensatorio -->
    <ng-container *ngIf="selectedNotification.type==='compRequest'">
      <h5 class="fw-bold mb-3 text-center">Solicitud de <br> Compensatorio</h5>
      <h6>{{ selectedNotification.firstName }} {{ selectedNotification.lastName }}</h6>
      <p>
        Ha solicitado un compensatorio:<br>
        De <strong>{{ selectedNotification.from | date:'short' }}</strong><br>
        Hasta <strong>{{ selectedNotification.to | date:'short' }}</strong><br>
        Razon: "{{ selectedNotification.reason }}"
      </p>
      <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-success w-50 me-2" (click)="acceptCompRequest(selectedNotification.id)">
          Aceptar
        </button>
        <button class="btn btn-danger w-50 ms-2" (click)="rejectCompRequest(selectedNotification.id)" >
          Rechazar
        </button>
      </div>
    </ng-container>

  </div>
</div>